<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Solutions</title>
        <link rel="shortcut icon" href="../public/images/vida-favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="../public/styles/general.css" />
        <link rel="stylesheet" href="../public/styles/home.css" />
        <link rel="stylesheet" href="../public/styles/solutions.css" />
        <link rel="stylesheet" href="../public/styles/queries.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="../index.html"
                  ><img
                    src="../public/images/Home-Page/vida-nav-logo.png"
                    alt="vida-nav-logo image"
                /></a>
              </div>
              <nav class="navbar">
                <ul class="nav-list">
                  <li class="nav-item">
                    <a href="./solutions.html" class="nav-link">solutions</a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link" style="pointer-events: none"
                      >
                      <span>expertise</span>
                      <ion-icon class="dropdown-icon" name="caret-down-outline"></ion-icon>
                    </a
                    >
                    <ul class="sub-menu">
                      <li class="sub-item"><a href="" class="sub-link ">blog</a></li>
                      <li class="sub-item"><a href="" class="sub-link ">webinars</a></li>
                      <li class="sub-item">
                        <a href="" class="sub-link ">validation</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="./connect.html" class="nav-link">
                      <span>connect</span>
                      <ion-icon class="dropdown-icon" name="caret-down-outline"></ion-icon>
                    </a>
                    <ul class="sub-menu">
                      <li class="sub-item">
                        <a href="./support.html" class="sub-link">support</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="./about.html" class="nav-link "
                      >
                      <span>about</span>
                      <ion-icon class="dropdown-icon" name="caret-down-outline"></ion-icon>
                      </a
                    >
                    <ul class="sub-menu">
                      <li class="sub-item"><a href="" class="sub-link ">news</a></li>
                      <li class="sub-item">
                        <a href="" class="sub-link ">leadership</a>
                      </li>
                      <li class="sub-item">
                        <a href="" class="sub-link ">investors</a>
                      </li>
                      <li class="sub-item"><a href="" class="sub-link ">careers</a></li>
                    </ul>
                  </li>
                  <li class="nav-item cta">
                    <a href="" class="nav-link cta ">
                      <span class="icon">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          class="lock-icon"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </span>
                      <span class="text">log in</span>
                    </a>
                  </li>
                </ul>
              </nav>
              
              <button onclick="openorCloseMenu()" class="btn-mobile-nav">
                <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
                <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
              </button>
        </header>
        <main>
            <section class="section-request container grid grid-2-cols text-center">
                <div class="request-text">
                    <p>VIDA provides <span>Lung Intelligence</span> services to improve the efficiency of respiratory clinical trials</p>
                    <button class="btn-request">request info</button>
                </div>
                <div class="request-image">
                    <img src="../public/images/Solutions-Page/ai-lung-process-image.webp" alt="ai lung process image">
                </div>
            </section>
            <section class="section-how text-center">
                <h3 class="heading-how">How we do it</h3>
                <div class="stages grid grid-3-cols">
                    <div class="stage">
                        <img src="../public/images/Solutions-Page/stages/stage1.webp" alt="lung image">
                        <button class="btn-learn">learn more</button>
                    </div>
                    <div class="stage">
                        <img src="../public/images/Solutions-Page/stages/stage2.webp" alt="lung image">
                        <button class="btn-learn">learn more</button>
                    </div>
                    <div class="stage">
                        <img src="../public/images/Solutions-Page/stages/stage3.webp" alt="lung image">
                        <button class="btn-learn">learn more</button>
                    </div>
                </div>
            </section>
            <section class="section-trails text-center">
                <h3 class="heading-tertiary">60+ successful academic and industry clinical trials</h3>
                <div class="brands">
                    <img class="brand-logo" src="../public/images/Solutions-Page/brands/MESA-COPD-lung.webp" alt="MESA-COPD-lung logo">
                    <img class="brand-logo" src="../public/images/Solutions-Page/brands/spiromics.webp" alt="spiromics logo">
                    <img class="brand-logo" src="../public/images/Solutions-Page/brands/SARP.webp" alt="SARP logo">
                    <img class="brand-logo" src="../public/images/Solutions-Page/brands/cancold.webp" alt="cancold logo">
                    <img class="brand-logo" src="../public/images/Solutions-Page/brands/copdGene.webp" alt="copdGene logo">
                </div>
                <h2 class="heading-secondary">VIDA provides lung intelligence solutions for <span>all major lung diseases</span></h2>
            </section>
            <section class="section-diseases">
                <div class="diseases">
                    <ul class="diseases-list grid grid-6-cols">
                        <li>
                            <a href="" >
                                <img src="../public/images/Home-Page/Hero section/covid.png" alt="covid-19 lung image" class="disease-img">
                                <p class="disease-name">COVID-19</p>
                            </a>
                        </li>
                        <li>
                            <a href="" >
                                <img src="../public/images/Home-Page/Hero section/asthma.png" alt="Asthama lung image" class="disease-img">
                                <p class="disease-name">Asthma</p>
                            </a>
                        </li>
                        <li>
                            <a href="" >
                                <img src="../public/images/Home-Page/Hero section/copd.png" alt="COPD lung image" class="disease-img">
                                <p class="disease-name">COPD</p>
                            </a>
                        </li>
                        <li>
                            <a href="" >
                                <img src="../public/images/Home-Page/Hero section/ild.png" alt="ILD lung image" class="disease-img">
                                <p class="disease-name">ILD</p>
                            </a>
                        </li>
                        <li>
                            <a href="" >
                                <img src="../public/images/Home-Page/Hero section/cancer.png" alt="Cancer lung image" class="disease-img">
                                <p class="disease-name">Cancer</p>
                            </a>
                        </li>
                        <li>
                            <a href="" >
                                <img src="../public/images/Home-Page/Hero section/emphysema.png" alt="Emphysema lung image" class="disease-img">
                                <p class="disease-name">Emphysema</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section-testimonial">
                <div class="testimonial grid grid-2-cols">
                    <img class="testimonial-img" src="../public/images/Solutions-Page/testimonials/image1.png" alt="testimonial-image">
                    <div>
                        <p class="testimonial-text"><em>“I’ve worked with VIDA for over 10 years. They are the scientific leader in the field. I’ve found their imaging analysis to be invaluable for evaluating lung phenotypes, including assessing response to biologic therapy in asthma patients.”</em></p>
                        <p class="testimonial-author"><span>&dash; Mario Castro, MD,</span> Professor of Pulmonary and Critical Care Medicine</p>
                    </div>
                    <div>
                        <p class="testimonial-text"><em>“I’ve enjoyed working with VIDA for several years now and hope to do so also in future trials. They are, in my opinion, the provider with the best understanding (by far) of the challenges involved in using CT imaging in COPD/asthma clinical trials.”</em></p>
                        <p class="testimonial-author"><span>&dash; Senior Scientist,</span> Leading Pharma Company</p>
                    </div>
                    <img class="testimonial-img" src="../public/images/Solutions-Page/testimonials/image2.png" alt="testimonial-image">
                </div>
            </section>
            <section class="sectio-demo grid demo-grid">
                <div class="demo-text-box">
                    <p class="demo-text">VIDA’s lung intelligence extends beyond clinical trials into clinical care, empowering lung care teams with AI to aid early detection, diagnosis and personalized treatment of lung disease.</p>
                    <button class="btn-demo">request demo</button>
                </div>
                <div class="demo-img-box">
                    <img class="demo-image" src="../public/images/Solutions-Page/demo-image.png" alt="monitor-image">
                </div>   
            </section>
            <section class="section-authors grid grid-2-cols">
                <h2 class="author-head">Checkout the top Professionals Review</h2>
                <div class="author">
                    <img src="../public/images/Solutions-Page/authors/john-newell.png" alt="author image">
                    <div class="author-text-box">
                        <p class="author-text"><em>“VIDA Insights empowers radiologists to provide a richer set of quantitative CT lung information for the referring physician. The new tMPR visualization is remarkable.  With the solution, I felt less fatigued, less stressed, and more confident in my assessment.”</em></p>
                        <p class="author-name"><span>&dash; John Newell, MD,</span> FACR, Professor of Radiology</p>
                    </div>
                </div>
                <div class="author">
                    <img src="../public/images/Solutions-Page/authors/herth-bw.png" alt="author image">
                    <div class="author-text-box">
                        <p class="author-text"><em>“The interventional pulmonology field is advancing with the emergence of both novel therapies for patients with emphysema and the essential analytics to accurately match the patient to the therapy for greater response.”</em></p>
                        <p class="author-name"><span>&dash; Felix Herth, MD, PhD, FCCP, FERS,</span> Thoraxklinik Heidelberg</p>
                    </div>
                </div>
                <div class="author">
                    <img src="../public/images/Solutions-Page/authors/kuhn-bw.png" alt="author image">
                    <div class="author-text-box">
                        <p class="author-text"><em>“VIDA’s clinical leadership in lung analysis is unmatched. The insights provided by their solutions will empower our team to streamline care coordination for all patients with or at-risk of developing respiratory conditions.”</em></p>
                        <p class="author-name"><span>&dash; Matthew Kuhn, MD,</span> UnityPoint Health</p>
                    </div>
                </div>
                <div class="author">
                    <img src="../public/images/Solutions-Page/authors/fahey-osf.png" alt="author image">
                    <div class="author-text-box">
                        <p class="author-text"><em>“The breadth and complexity of lung diseases demand innovation for both diagnostic and therapeutic workflows. VIDA’s enterprise-wide lung intelligence solution will empower our teams to deliver more precise, personalized care to our respiratory patients.”</em></p>
                        <p class="author-name"><span>&dash; Kevin Fahey, MD,</span> OSF HealthCare</p>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-nav grid footer-grid">
                <div class="logo-col">
                    <a href="../index.html" class="footer-logo"><img src="../public/images/Home-Page/vida-footer-logo.webp"
                            alt="vida-footer-logo image"></a>
                    <p class="footer-text">VIDA is a precision lung health company, accelerating therapies to patients
                        through AI-powered lung intelligence. VIDA Discovery services enable more efficient respiratory
                        clinical trials by providing more precise quantitative endpoints, AI-powered data quality controls,
                        site training, and more to help biopharma sponsors save millions in drug development costs. VIDA
                        Insights empowers physicians to better manage patients with or at risk of chronic obstructive
                        pulmonary disease (COPD), interstitial lung disease (ILD), asthma, emphysema, lung cancer, COVID-19
                        and more.</p>
                </div>
                <div class="nav-col-tc">
                    <p class="footer-heading">Terms & Conditions</p>
                    <ul class="footer-list">
                        <li><a href="/" class="footer-link">Website and Data Privacy Notice</a></li>
                        <li><a href="/" class="footer-link">HIPAA Compliance Statement</a></li>
                        <li><a href="/" class="footer-link">ISO Certification</a></li>
                        <li><a href="/" class="footer-link">MDS2</a></li>
                        <li><a href="/" class="footer-link">DICOM Compliance</a></li>
                        <li><a href="/" class="footer-link">EU Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="nav-col">
                    <p class="footer-heading">About</p>
                    <ul class="footer-list">
                        <li><a href="/" class="footer-link">News</a></li>
                        <li><a href="/" class="footer-link">Leadership</a></li>
                        <li><a href="/" class="footer-link">Investors</a></li>
                        <li><a href="/" class="footer-link">Careers</a></li>
                    </ul>
                </div>
                <div class="address-col">
                    <p class="footer-heading">Contact us</p>
                    <ul class="footer-list">
                        <li><a href="tel:855.900.8432" class="footer-link">855.900.8432</a></li>
                        <li><a href="mailto:info@vidalung.ai" class="footer-link">info@vidalung.ai</a></li>
                    </ul>
                </div>
                <div class="social-col">
                    <p class="footer-heading">Follow us</p>
                    <ul class="social-links">
                        <li><a class="social-link" href="/"><ion-icon name="logo-facebook"></ion-icon></a></li>
                        <li><a class="social-link" href="/"><ion-icon name="logo-twitter"></ion-icon></a></li>
                        <li><a class="social-link" href="/"><ion-icon name="logo-instagram"></ion-icon></a></li>
                        <li><a class="social-link" href="/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                        <li><a class="social-link" href="/"><ion-icon name="logo-vimeo"></ion-icon></a></li>
                        <li><a class="social-link" href="/"><ion-icon name="logo-youtube"></ion-icon></a></li>
                    </ul>
                </div>
            </div>
            <div class="copywright text-center">
                <p>Copyright &copy; All Rights Reserved,</p>
                <p>This website is inspired from <strong><a href="https://vidalung.ai/">VIDA Diagnostics</a></strong>. The
                    whole frontend page work goes to creator - <strong><a href="https://www.linkedin.com/in/anuroop-pamarthi-b4a2b1214">Anuroop Pamarthi.</a></strong></p>
            </div>
        </footer>
        <script src="../public/js/script.js"></script>
    </body> 
</html>