<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Support</title>
        <link rel="shortcut icon" href="../public/images/vida-favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="../public/styles/general.css" />
        <link rel="stylesheet" href="../public/styles/home.css" />
        <link rel="stylesheet" href="../public/styles/support.css" />
        <link rel="stylesheet" href="../public/styles/queries.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="../index.html"
                  ><img
                    src="../public/images/Home-Page/vida-nav-logo.png"
                    alt="vida-nav-logo image"
                /></a>
              </div>
              <nav class="navbar">
                <ul class="nav-list">
                  <li class="nav-item">
                    <a href="./solutions.html" class="nav-link">solutions</a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link" style="pointer-events: none"
                      >
                      <span>expertise</span>
                      <ion-icon class="dropdown-icon" name="caret-down-outline"></ion-icon>
                    </a
                    >
                    <ul class="sub-menu">
                      <li class="sub-item"><a href="" class="sub-link ">blog</a></li>
                      <li class="sub-item"><a href="" class="sub-link ">webinars</a></li>
                      <li class="sub-item">
                        <a href="" class="sub-link ">validation</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="./connect.html" class="nav-link">
                      <span>connect</span>
                      <ion-icon class="dropdown-icon" name="caret-down-outline"></ion-icon>
                    </a>
                    <ul class="sub-menu">
                      <li class="sub-item">
                        <a href="./support.html" class="sub-link">support</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="./about.html" class="nav-link "
                      >
                      <span>about</span>
                      <ion-icon class="dropdown-icon" name="caret-down-outline"></ion-icon>
                      </a
                    >
                    <ul class="sub-menu">
                      <li class="sub-item"><a href="" class="sub-link ">news</a></li>
                      <li class="sub-item">
                        <a href="" class="sub-link ">leadership</a>
                      </li>
                      <li class="sub-item">
                        <a href="" class="sub-link ">investors</a>
                      </li>
                      <li class="sub-item"><a href="" class="sub-link ">careers</a></li>
                    </ul>
                  </li>
                  <li class="nav-item cta">
                    <a href="" class="nav-link cta ">
                      <span class="icon">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          class="lock-icon"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </span>
                      <span class="text">log in</span>
                    </a>
                  </li>
                </ul>
              </nav>
              
              <button onclick="openorCloseMenu()" class="btn-mobile-nav">
                <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
                <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
              </button>
        </header>
        <main>
            <section class="section-contact-us">
                <div class="main-contact">
                    <div class="contact-text-box">
                        <h1 class="contact-primary">Contact Us</h1>
                        <p class="contact-text">Need to get in touch with us? Please feel free to reach out us, we are here to assist you!</p>
                    </div>
                    <div class="contact-cards">
                        <div class="card">
                            <ion-icon class="card-icon" name="headset-outline"></ion-icon>
                            <h3 class="card-heading">Visit</h3>
                            <p class="card-text">Reach out to our Support team regarding any questions</p>
                            <div class="action">
                                <a href="tel:855.900.8432" class="action-btn">Contact</a>
                            </div>
                        </div>
                        <div class="card">
                            <ion-icon class="card-icon" name="mail-outline"></ion-icon>
                            <h3 class="card-heading">Questions</h3>
                            <p class="card-text">Mail to our team regarding any questions</p>
                            <div class="action">
                                <a href="mailto:info@vidalung.ai" class="action-btn">Chat</a>
                            </div>
                        </div>
                        <div class="card">
                            <ion-icon class="card-icon" name="reader-outline"></ion-icon>
                            <h3 class="card-heading">Sales</h3>
                            <p class="card-text">Reach out to our Sales team regarding any questions</p>
                            <div class="action">
                                <a href="mailto:sales@example.in" class="action-btn">Sales</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-newsletter">
                <div class="form-newsletter grid grid-2-cols">
                    <div class="form-text-box">
                        <h2 class="form-secondary">Subscribe to Newsletter</h2>
                        <p class="form-text">VIDA is committed to protecting and respecting your privacy, and we’ll only use your personal information to administer your account and provide products and services at your request. We may contact you about our products and services, and other content that may be of interest to you. You can unsubscribe from these communications at any time. For more information on how to unsubscribe, please review our <a href="/">Privacy Policy</a>.</p>
                    </div>
                    <form class="newsletter-form" action="/submit" method="post">
                        <div class="form-first-name">
                            <label for="first-name">First Name <span>*</span></label>
                            <input type="text" name="first-name" id="first-name" placeholder="John">
                        </div>
                        <div class="form-last-name">
                            <label for="last-name">Last Name <span>*</span></label>
                            <input type="text" name="last-name" id="last-name" placeholder="Deo">
                        </div>
                        <div class="form-email">
                            <label for="email">Email <span>*</span></label>
                            <input type="text" name="email" id="email" placeholder="johndeo@example.com">
                        </div>
                        <div class="form-organization">
                            <label for="organization">Organization <span>*</span></label>
                            <input type="text" name="organization" id="organization" placeholder="Ex: Microsoft">
                        </div>
                        <div class="form-state">
                            <label for="state">State/Province <span>*</span></label>
                            <input type="text" name="state" id="state">
                        </div>
                        <div class="form-country">
                            <label for="country">Country <span>*</span></label>
                            <input type="country" name="country" id="country">
                        </div>
                        <div class="form-consent">
                            <input type="checkbox" name="consent" id="consent">
                            <p>I consent to receive other communications from VIDA.</p>
                        </div>               
                        <button class="form-btn">subscribe</button>
                    </form>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-nav grid footer-grid">
                <div class="logo-col">
                    <a href="../index.html" class="footer-logo"><img src="../public/images/Home-Page/vida-footer-logo.webp"
                            alt="vida-footer-logo image"></a>
                    <p class="footer-text">VIDA is a precision lung health company, accelerating therapies to patients
                        through AI-powered lung intelligence. VIDA Discovery services enable more efficient respiratory
                        clinical trials by providing more precise quantitative endpoints, AI-powered data quality controls,
                        site training, and more to help biopharma sponsors save millions in drug development costs. VIDA
                        Insights empowers physicians to better manage patients with or at risk of chronic obstructive
                        pulmonary disease (COPD), interstitial lung disease (ILD), asthma, emphysema, lung cancer, COVID-19
                        and more.</p>
                </div>
                <div class="nav-col-tc">
                    <p class="footer-heading">Terms & Conditions</p>
                    <ul class="footer-list">
                        <li><a href="/" class="footer-link">Website and Data Privacy Notice</a></li>
                        <li><a href="/" class="footer-link">HIPAA Compliance Statement</a></li>
                        <li><a href="/" class="footer-link">ISO Certification</a></li>
                        <li><a href="/" class="footer-link">MDS2</a></li>
                        <li><a href="/" class="footer-link">DICOM Compliance</a></li>
                        <li><a href="/" class="footer-link">EU Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="nav-col">
                    <p class="footer-heading">About</p>
                    <ul class="footer-list">
                        <li><a href="/" class="footer-link">News</a></li>
                        <li><a href="/" class="footer-link">Leadership</a></li>
                        <li><a href="/" class="footer-link">Investors</a></li>
                        <li><a href="/" class="footer-link">Careers</a></li>
                    </ul>
                </div>
                <div class="address-col">
                    <p class="footer-heading">Contact us</p>
                    <ul class="footer-list">
                        <li><a href="tel:855.900.8432" class="footer-link">855.900.8432</a></li>
                        <li><a href="mailto:info@vidalung.ai" class="footer-link">info@vidalung.ai</a></li>
                    </ul>
                </div>
                <div class="social-col">
                    <p class="footer-heading">Follow us</p>
                    <ul class="social-links">
                        <li><a class="social-link" href="/"><ion-icon name="logo-facebook"></ion-icon></a></li>
                        <li><a class="social-link" href="/"><ion-icon name="logo-twitter"></ion-icon></a></li>
                        <li><a class="social-link" href="/"><ion-icon name="logo-instagram"></ion-icon></a></li>
                        <li><a class="social-link" href="/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                        <li><a class="social-link" href="/"><ion-icon name="logo-vimeo"></ion-icon></a></li>
                        <li><a class="social-link" href="/"><ion-icon name="logo-youtube"></ion-icon></a></li>
                    </ul>
                </div>
            </div>
            <div class="copywright text-center">
                <p>Copyright &copy; All Rights Reserved,</p>
                <p>This website is inspired from <strong><a href="https://vidalung.ai/">VIDA Diagnostics</a></strong>. The
                    whole frontend page work goes to creator - <strong><a href="https://www.linkedin.com/in/anuroop-pamarthi-b4a2b1214">Anuroop Pamarthi.</a></strong></p>
            </div>
        </footer>
        <script src="../public/js/script.js"></script>
    </body> 
</html>