/* rem & em do not depends on declared font-size */
/* 360, 555, 750, 945, 1140, 1335, 1530, 1725, 1920 */

/**************************/
/*       BELOW 1728px     */
/**************************/

@media (max-width: 108em) {
  .hero-text-box {
    font-size: 3.6rem;
  }

  .heading-primary {
    padding: 0 9rem;
  }

  .disease-name {
    font-size: 2rem;
  }

  .float-text h2 {
    padding: 0 40rem;
  }

  .section-float-text {
    padding: 15rem 9.6rem 22.8rem 9.6rem;
  }

  .process-text-box {
    padding: 0 32rem;
  }

  .section-trails .heading-secondary {
    padding: 0 44rem;
  }

  .section-testimonial {
    padding: 9.6rem 24rem;
  }
  
}

/**************************/
/*       BELOW 1536px     */
/**************************/

@media (max-width: 96em) {
  .hero-text-box {
    font-size: 3.4rem;
  }

  .heading-primary {
    padding: 0 6rem;
  }

  .section-float-text {
    padding: 9.6rem 6.4rem 12.8rem 6.4rem;
  }

  .float-text h2 {
    padding: 0 24rem;
  }

  .process-text-box {
    padding: 0 12rem;
  }

  .section-trails .heading-secondary {
    padding: 0 34rem;
  }

  .section-trails .heading-secondary {
    padding: 0 26rem;
  }

}

/**************************/
/*       BELOW 1344px     */
/**************************/

@media (max-width: 84em) {

  .heading-primary {
    padding: 0 2.6rem;
  }

  .hero-text-box {
    font-size: 3.2rem;
  }

  .section-float-text {
    padding: 8rem 9.6rem 16.8rem 9.6rem;
  }

  .float-text h2 {
    padding: 0 20.8rem;
  }

  .process-text-box {
    padding: 0 12rem;
  }

  .section-trails .heading-secondary {
    padding: 0 24rem;
  }

  .section-testimonial {
    padding: 8rem 14rem;
  }
    
}

/**************************/
/*      BELOW 1152px      */
/**************************/

@media (max-width: 72em) {
    html {
        font-size: 56.25%;
    }

    .hero-text-box {
      font-size: 3rem;
    }

    .disease-name {
      font-size: unset;
    }

    .heading-secondary {
      font-size: 3rem;
    }

    .section-float-text {
      padding: 8rem 9.6rem 15rem 9.6rem;
    }

    .request-text p {
      font-size: 2.6rem;
    }

    .office-heading {
      font-size: 4.4rem;
    }

    .connect-heading {
      font-size: 3rem;
    }
}

/**************************/
/*       BELOW 944px      */
/**************************/

@media (max-width: 59em) {
    html {
        font-size: 50%;
    }

    .container {
      padding: 0 6.4rem;
    }

    .logo img {
      width: 70%;
    }

    .header {
      padding: 1.2rem 6rem
    }

    .hero-text-box {
      font-size: 2.6rem;
      /* padding: 0; */
    }

    .heading-primary {
      padding: 0 3.4rem;
    }

    .section-float-text {
      padding: 6rem 8.6rem 12.8rem 8.6rem;
    }

    .float-text h2 { 
      padding: 0 16rem;
    }

    .heading-tertiary {
      font-size: 2.4rem;
    }

    .process-text-box {
      padding: 0 6.4rem;
    }

    .section-features {
      padding: 4rem 6.4rem;
    }

    .logo-col img {
      width: 24em;
    }

    .footer-nav {
      padding: 4.8rem 6.4rem;
    }

    .request-text p {
      font-size: 2.6rem;
    }

    .section-trails .heading-secondary {
      padding: 0 16.6rem;
    }

    .section-authors {
      padding: 2.6rem;
    }

    .author img {
      width: 12rem;
    }

    .author-text {
      font-size: 1.4rem;
    }

    .office-heading {
      font-size: 3.4rem;
    }

    .form-text-box {
      font-size: 4.8rem;
    }

    .newsletter-form input{
      font-size: 1.2rem;
      padding: 0.6rem;
      border-radius: 3px;
    }

    .newsletter-form label {
      font-size: 1.2rem;
    }

    .form-btn {
      font-size: 1.2rem;
    }
    
    .footer-grid {
      grid-template-columns: 1.5fr 1fr;
      row-gap: 2.4rem;
    }

    .nav-col-tc {
      grid-area: 2 / 1 / 3 / 2;
    }
}

/**************************/
/*      BELOW 752px       */
/**************************/

@media (max-width: 47em) {

  .btn-mobile-nav {
    display: block;
    grid-area: 1 / 2;
    justify-self: end;
    padding: 2rem 4.8rem;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .logo {
    padding: 2rem 4.8rem;
  }

  .logo img {
    width: 24rem;
  }

  .navbar {
    grid-column: 1 / -1;
    /* transform: translateY(100%); */
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 1px;
  }

  .nav-item {
    padding: 2rem 4.8rem;
    background-color: #eee;
  }

  .nav-link {
    display: flex;
    align-items: center;
  }

  .dropdown-icon {
    display: block;
    margin-left: auto;
  }

  .sub-menu {
    display: block;
    position: initial;
    box-shadow: none;
    background-color: #eee;
    width: initial;
    /* transform: translateY(100%); */
  }

  .nav-open .navbar {
    display: block;
    /* transform: translateX(0); */
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  
  .nav-item:hover {
    background-color: #043b4f;
  }

  .nav-item:hover .nav-link {
    color: #fff;
    border-bottom: none;
  }

  .heading-primary {
    padding: 0 3rem;
  }

  .hero-text-box {
    font-size: 2rem;
    padding: 1rem;
  }

  .btn-see:link {
    padding: 1rem 1.8rem;
    font-size: 1.2rem;
  }

  .diseases-list li a {
    font-size: 1.4rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
  }
  
  .float-text h2 {
    padding: 0 12rem;
  }

  .separator {
    padding: 2.6rem 0;
  }

  .heading-tertiary {
    font-size: 1.6rem;
  }

  .section-float-text{
    padding: 6rem 8.6rem 10.8rem 8.6rem;
  }

  .feature-icons {
    font-size: 6.4rem;
  }

  .feature-data {
    font-size: 3.4rem;
  }

  .request-text p {
    font-size: 2rem;
  }

  .btn-request, .btn-demo {
    padding: 1.2rem 1.6rem;
    font-size: 1.2rem;
  }

  .btn-learn {
    padding: 1rem 1.4rem;
    font-size: 1.4rem;
  }

  .brand-logo {
    width: 12rem;
  }

  .section-trails .heading-secondary {
    padding: 0 12.6rem;
  }

  .section-testimonial {
    padding: 6rem 8rem;
  }
  
  .testimonial-text {
    font-size: 1.2rem;
  }

  .testimonial-img {
    width: 12rem;
  }

  .demo-text {
    font-size: 1.4rem;
  }

  .btn-demo {
    width: 16rem;
  }

  .author-head {
    font-size: 2.6rem;
  }

  .author img {
    width: 10rem;
  }
  
  .author-text {
    font-size: 1.2rem;
  }

  h2.connect-heading {
    font-size: 2.6rem;
  }

  .images {
    display: none;
  }

  section.section-location {
    grid-template-columns: 1fr;
  }

  .contact-primary {
    font-size: 3.8rem;
  }

  .card {
    width: 16rem;
  }

  h1.about-heading {
    font-size: 3rem;
  }

  p.about-text {
    font-size: 1.4rem;
  }

  ul.highlight-list {
    font-size: 1.4rem;
  }

  li.highlight-item {
    padding-bottom: 0.5rem;
  }

  div.about-navs {
    padding: 4.8rem 0 6.4rem;
  }

  div.about-navs a:link {
    font-size: 1.2rem;
  }

  div.news-partners div p {
    padding: 1.2rem 2.4rem;
  }
}

/**************************/
/*       BELOW 544px      */
/**************************/

@media (max-width: 34em) {

  .grid-2-cols {
    grid-template-columns: 1fr;
  }

  .grid-4-cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .grid-6-cols {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }

  .hero-text-box {
    font-size: 2.33rem;
    padding: 3rem;
  }

  .heading-primary {
    padding: 0 7.6rem;
  }

  .btn-see:link {
    padding: 1.4rem 2.6rem;
    font-size: 1.6rem;
  }
  
  .float-text h2 {
    padding: 0 6.4rem;
  }

  .process-img-box a img {
    max-width: 100%;
  }

  .heading-secondary {
    font-size: 2rem;
  }

  .heading-tertiary {
    font-size: 1.4rem;
  }

  .section-float-text {
    padding: 3rem 4.8rem 8rem 4.8rem;
  }

  .process-text-box {
    padding: 0 4.8rem;
  }

  .feature-data {
    font-size: 2.6rem;
  }

  .footer-nav {
    padding: 2.6rem 4.8rem;
  }

  .section-request {
    padding: 2.4rem 6.4rem;
  }

  .section-how {
    padding: 3rem 4.8rem;
  }

  .brands {
    gap: 1.8rem;
    margin: 3.4rem 0;
  }

  .section-trails .heading-secondary {
    padding: 0 8rem;
  }
  
  .testimonial img:last-child {
    grid-area: 3;
  }

  .testimonial {
    row-gap: 2.4rem;
  }

  h2.connect-heading {
    font-size: 2rem;
  }

  .section-connect {
    gap: 4.8rem;
  }

  div.connect-form {
    width: 80%;
  }

  h3.office-heading {
    font-size: 3.6rem;
  }

  .contact-primary {
    font-size: 2.6rem;
  }

  .contact-text {
    font-size: 1.4rem;
  }

  .contact-cards{
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .card {
    width: 26rem;
  }

  .form-text-box {
    font-size: 3.6rem;
    padding: 0 4.8rem;
  }

  .form-newsletter {
    padding: 0 2.6rem;
  }

  .newsletter-form {
    padding: 4.8rem;
  }

  .about-head-img {
    margin-top: 2rem;
  }

  p.about-text {
    font-size: 1.8rem;
  }

  ul.highlight-list {
    font-size: 1.8rem;
  }

  div.news-partners div p {
    padding: 0.2rem;
  }

  .global-news {
    padding: 0 3.2rem;
  }

  .grid-6-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-nav {
    padding: 1.6rem 2.4rem;
  }

  .nav-col-tc {
    grid-area: 2 / 1 / 3 / -1;
  }

  .nav-col {
    grid-area: 3 / 1 / 4 / -1;
  }

  .grid-3-cols {
    grid-template-columns: 1fr;
  }

  .stages {
    column-gap: 0;
    row-gap: 1rem;
    margin-top: 2rem;
  }

  .stage img {
    width: 50%;
  }

  .section-trails .heading-tertiary {
    font-size: 2rem;
  }

  .brands {
    display: initial;
  }

  .connect-form form {
    grid-template-columns: 1fr;
  }

  .newsletter-form {
    grid-template-columns: 1fr;
    padding: 2.4rem;
  }

  .form-newsletter {
    padding: 2rem;
  }

  .form-text-box {
    padding: 0 2.4rem;
  }

  div.about-navs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    padding: 2rem;
  }

  .news-partners {
    display: grid;
    grid-template-columns: 1fr;
  }

  .partners img {
    width: 50%;
  }

  .demo-grid {
    grid-template-columns: 1fr;
    padding: 2.4rem 4.8rem;
    row-gap: 2rem;
  }

}

/**************************/
/*       BELOW 352px      */
/**************************/

@media (max-width: 22em) {

  .logo img {
    width: 20rem;
  }

  .logo {
    padding: 2rem;
  }

  .banner-text {
    font-size: 1.2rem;
  }

  .broad-cast-icon {
    width: 2rem;
  }

  .heading-primary {
    padding: 0;
  }

  .hero-text-box {
    padding: 1.3rem;
    font-size: 2rem;
  }

  .btn-see {
    margin-top: 2rem;
  }

  .float-text h2 {
    padding: 0 2rem;
  }

  .heading-secondary {
    font-size: 1.4rem;
  }

  .section-float-text {
    padding: 2rem 2.8rem 6rem 2.8rem;
  }

  .heading-tertiary {
    font-size: 1.2rem;
  }

  .separator {
    padding: 1rem 0;
  }

  .process-text-box {
    padding: 0;
  }

  .container {
    padding: 0 2rem;
  }

  .section-features {
    padding: 2rem 0;
  }

  .section-how {
    padding: 2rem 2.4rem;
  }

  .heading-how {
    font-size: 2.6rem;
  }

  .section-trails .heading-secondary {
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  .section-testimonial {
    padding: 3rem;
  }

  h2.connect-heading {
    font-size: 1.6rem;
  }

  .section-location {
    margin: 2rem 4.8rem;
  }

  h3.office-heading {
    font-size: 3.2rem;
  }

  .addresses {
    grid-template-columns: 1fr;
  }

  .contact-text-box {
    margin-bottom: 3.2rem;
  }

  .logo-col img {
    width: 18rem;
  }
}


/**************************/
/* fixing safari flex box app */
/**************************/
/* .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 4.8rem;
  }
  
  .no-flexbox-gap .list-item:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  
  .no-flexbox-gap .list-icon:not(:last-child) {
    margin-right: 1.6rem;
  }
  
  .no-flexbox-gap .delivered-faces {
    margin-right: 1.6rem;
  }
  
  .no-flexbox-gap .meal-attribute:not(:last-child) {
    margin-bottom: 2rem;
  }
  
  .no-flexbox-gap .meal-icon {
    margin-right: 1.6rem;
  }
  
  .no-flexbox-gap .footer-row div:not(:last-child) {
    margin-right: 6.4rem;
  }
  
  .no-flexbox-gap .social-links li:not(:last-child) {
    margin-right: 2.4rem;
  }
  
  .no-flexbox-gap .footer-nav li:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  
  @media (max-width: 75em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
      margin-right: 3.2rem;
    }
  }
  
  @media (max-width: 59em) {
    .no-flexbox-gap .main-nav-list li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 4.8rem;
    }
  } */